* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: center;

}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #050801;
  font-family: 'Raleway', sans-serif;
}

.container {
  background: transparent;
  border-radius: 100px;
  box-shadow: 0 14px 28px rgb(141, 141, 255), 0 10px 10px rgba(255, 255, 255, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 700px;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

input {
  background-color: #ccccff;
  border: none;
  padding: 3px 7px;
  margin: 5px 30px;
  width: 50%;
}

.error-message {
  color: #ff1313;
  font-size: 0.8em;
  margin-top: 0.5em;
}
