<head>
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1>Junior Graphic Designer</h1>
      <h2>Fill The Form</h2>
    </div>
    <form name="vacancy" method="post" class="frm-apply">
      <label>Your name</label>
      <div class="details">
        : <input name="applicant_name" id="app_name" type ="text" maxlength="50">
      </div>
      <label>Email</label>
      <div class="details">
        : <input name="applicant_email" id="email" type ="email" >
      </div>
      <label>Phone number</label>
      <div class="details">
        : <input name="phone_number" id="phone_num" type ="tel" >
      </div>
      <label>University</label>
      <div class="details">
        : <input name="applicant_university" id="university" type ="text" maxlength="30">
      </div>
      <div class="buttons">
        <input id="apply-btn" type="submit" value="Apply" class="btn-apl" >
        <input id="clear-btn" type="reset" value="Clear" class="btn-clr">
      </div>
    </form>
  </div>
</body>
