<head>
  <meta charset="utf-8" />
  <title>Choose Account Type</title>
</head>

<body>


<div class="fontCenter">
  <h1>?</h1>
</div>

<!-- u&g side -->
<div id="leftsidebar">
  <div class="centered">

    <img src="/assets/img/u&g.png" alt="two students image">
    <button (click)="GoStudentLogin()" class="button_1" style="vertical-align:middle" ><span>Graduate & Undergraduate </span></button>
  </div>
</div>

<!-- company side -->

<div id="rightsidebar">
  <div class="centered">
    <img src="/assets/img/Company.png" alt="a company image">
    <button (click)="GoCompanyLogin()" class="button" style="vertical-align:middle" ><span>Company </span></button>
  </div>
</div>



<div class="down">
<button (click)="GoIndex()" class="button_2" style="vertical-align:middle" ><span>Back</span></button>
</div>


</body>
