
/* Devide stop two section */

.fontCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}






#leftsidebar {

  width: 50%;
  height: 550px;
  position: absolute;
  top: 100px;
}


#rightsidebar {

  width: 50%;
  height: 550px;
  position: absolute;
  top: 100px;
  left: 50%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.down{
  position: absolute;

  bottom: 1;
  right: 0;}


.centered img {
  width: 250px;
  border-radius: 50%;
}



/* choose Button 1 - u&G Button*/

.button_1 {
  border-radius: 25px;
  background-color: #51e865;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 13px;
  width: 175px;
  transition: all 1s;
  cursor: pointer;
  margin: 5px;
}

.button_1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -80px;
  transition: 1s;
}

.button_1:hover span {
  padding-right: 25px;
}

.button_1:hover span:after {
  opacity: 6;
  right: 0;
}

.button_1:hover {
  background-color: #015208
}

.button_1:active {
  background-color: #015208;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* choose Button 2 - Company Button*/

.button {
  border-radius: 25px;
  background-color: #f593ed;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 13px;
  width: 175px;
  transition: all 1s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -80px;
  transition: 1s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 6;
  right: 0;
}

.button:hover {
  background-color: #54004d
}

.button:active {
  background-color: #54004d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*Back button - Company Button*/


.button_2 {
  border-radius: 25px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 13px;
  width: 175px;
  transition: all 1s;
  cursor: pointer;
  margin: 5px;
}

.button_2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -80px;
  transition: 1s;
}

.button_2:hover span {
  padding-right: 25px;
}

.button_2:hover span:after {
  opacity: 6;
  right: 0;
}

.button_2:hover {
  background-color: #0B013D;
}

.button_2:active {
  background-color: midnightblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}





