<head>
  <title>Admin Login</title>
</head>
<body>
<div class="formFont">

</div>
<br>

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form (ngSubmit)="authenticate()">
      <label>
        Email:
        <input type="email" [(ngModel)]="email" name="email" required>
      </label>
      <br>
      <label>
        Password:
        <input type="password" [(ngModel)]="password" name="password" required>
      </label>
      <div *ngIf="error" class="error">{{ error }}</div>
      <br>
      <button type="submit">Login</button>
      <p><a  (click)="forgotPassword()">Forgot Password</a></p>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <span class="live-text">{{ typedText }}</span>
        <hr style="width:20%;text-align:left">
        <br><br>
        <img src="assets/gif/mlogo.gif" [style.width.px]="70" [style.height.px]="70" /><br><br>
        <button (click)="SignUp()" class="ghost" id="Login">Register</button>
        <p><i>Create new account</i></p>
      </div>
    </div>
  </div>
</div>
<br>
</body>
