<head>
  <title> U&G </title>
</head>
<body>
  <div class="top">
      <h1>U&G Vacancy</h1>
    </div>
    <form name="Vacancy_add_form"	method="post">
      <div class="vac_name">
        <label>Vacancy Display Name:</label> <br>
        <input name="vacancy_name" placeholder="Vacancy display name"  type ="text" size="30" maxlength="50" required> <br>
      </div>

      <div class="container">
        <div class="left-side">
          <div style="width: 60%; margin: auto" >
            <div class="frm-element">
              <label>Company name:</label> <br>
              <input name="company_name" placeholder="Enter company name"  type ="text" maxlength="30" required>
            </div>
            <div class="frm-element">
              <label>Job Designation:</label> <br>
              <input name="designation" placeholder="Enter job designation"  type ="text" maxlength="30" required>
            </div>
            <div class="frm-element">
              <label>Required Experiences:</label> <br>
              <textarea name="experiences" id="experiences" cols="20" rows="5" required></textarea>
            </div>
          </div>
        </div>

        <div class="right-side">
          <div style="width: 60%; margin: auto" >
            <div class="frm-element">
              <label>Required Age Range:</label> <br>
              <input name="age_gap" placeholder="Enter age range" type="text" size="15" maxlength="15" >
            </div>
            <div class="frm-element">
              <label>Description:</label> <br>
              <!--      <input name="job_description" placeholder="Enter description" type="text" size="200" maxlength="700">-->
              <textarea name="job_description" id="job_desc" cols="20" rows="5"> </textarea>
            </div>
            <div class="frm-element">
              <label>Upload an Image:</label> <br>
              <input name="vacancy_image" placeholder="" type="file" accept="image/*">
            </div>
          </div>
        </div>

        <div class="buttons">
          <div>
            <input type="submit" value="Submit" class="btn-submit">
            <input type="reset" value="clear" class="btn-reset">
          </div>
        </div>
      </div>
    </form>
</body>
