<div class="block-content d-flex flex-align-items-center flex-justify-content-center container">
    <div class="block-right mf-auto d-flex flex-column">
        <form [formGroup]="loginForm" #localForm="ngForm">
            <div>
                <label for="email"></label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email Address"
                    formControlName="email"
                />
            </div>

            <div>
                <label for="password"></label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    formControlName="password"
                />
            </div>

            <p class="errorMsg" *ngIf="errorMsg">{{ errorMsg }}</p>
            <button type="submit" (click)="onSubmit()" class="btn btn-login fs-16">Login</button>
            <p class="block-right__forgotPassword fw-300 mb-10 fs-14">Forgot your password ?</p>
        </form>
        <hr class="w100 mb-10" />
        <button (click)="onCreate()" class="btn w80 btn-signup mb-10 fs-12">Create New Account</button>
    </div>
</div>
