<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
</head>
<body>

<!----------------------------------- Side menu ---------------------------------->
<div class="wrapper">
 <!--Top menu -->
  <div class="sidebar">

    <!--profile image & text-->
    <div class="profile">
      <h3>Alan Roy</h3>
      <p>Admin 01</p>
    </div>
    <!--menu item-->

    <ul>
      <li>
        <a routerLink="/admin-dashboard">
          <span class="item">Main Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-desktop"></i></span>
          <span class="item">Profile Issue</span>
        </a>
      </li>
      <li>
        <a href="#"class="active">
          <span class="icon"><i class="fas fa-user-friends"></i></span>
          <span class="item">Test Control</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
          <span class="item">Newsfeed Control</span>
        </a>
      </li>
      <li>
        <a href="#">

          <span class="item">Community Control</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-chart-line"></i></span>
          <span class="item">Company Activity</span>
        </a>
      </li>
      <li>


        <br><br><br><br><br><br><br><br><br><br>



        <a href="#">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="item">Settings</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="item">SignOut</span>
        </a>
      </li>
    </ul>
  </div>

</div>







<h1>Questions Data</h1>

<div class="formFont">
  <br><br><br>


  <!--------------------select degree----------------------------------------->
  <form  #form="ngForm" (ngSubmit)="onSubmit()">


  <label>Select the University:</label>
  <select id="university" name="university" [(ngModel)]="selectedUniversity" required>
    <option value="moratuwa">University of Moratuwa</option>
    <option value="colombo">University of Colombo</option>
  </select>
  <div *ngIf="form.submitted && form.controls['university'].invalid" class="error-message">
    University is required
  </div>


  <label>Select the Degree:</label>
  <select id="degree" name="degree" [(ngModel)]="selectedDegree" required>
    <option *ngIf="selectedUniversity === 'moratuwa'" value="IT">IT</option>
    <option *ngIf="selectedUniversity === 'moratuwa'" value="ITM">ITM</option>
    <option *ngIf="selectedUniversity === 'colombo'" value="CS">CS</option>
  </select>
  <div *ngIf="form.submitted && form.controls['degree'].invalid" class="error-message">
    Degree is required
  </div>



  <!--------------------get quesgtion----------------------------------------->
<br><br><br>

  <label>Question ID:</label>
  <input type="text" [(ngModel)]="q_id" name="q_id" required><br>

  <div *ngIf="form.submitted && form.controls['q_id'].invalid" class="error-message">
    Question ID is required
  </div>
  <br><br><br>


  <label>Question Type:</label>
  <input type="text" [(ngModel)]="q_type" name="q_type" required><br>
  <div *ngIf="form.submitted && form.controls['q_type'].invalid" class="error-message">
    Question Type is required
  </div>
  <br><br><br>

  <label>The Question:</label>
  <input type="text" [(ngModel)]="thequestion" name="thequestion" required><br>
  <div *ngIf="form.submitted && form.controls['thequestion'].invalid" class="error-message">
    The Question  is required
  </div>

  <br><br><br>



  <br>
  <button type="submit">Submit</button>
  <button type="reset">Clear</button>
    <br>  <br>   <br>

    <button (click)="GoAddAnswers()" class="button" >Add anwers </button>

</form>

</div>




</body>
