*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  background: url('/assets/img/adminMain.jpg') no-repeat center center fixed;
  justify-content: center;

  display: flex;

  height: 100vh;
  margin: -20px 0 50px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  flex-direction: column;
  align-items: center;


}


.wrapper .sidebar{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}



/*admin name*/
.wrapper .sidebar .profile h3{
  color: deepskyblue;
  margin: 10px 0 5px;
}

/*admin index*/
.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}

/*solid control */
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 3px solid deepskyblue;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}


/*space icon and letters */
.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

/*active one*/
.wrapper .sidebar ul li a.active{
  color: black;

  background:white;
  border-right: 2px solid #ffcbd1;
}

/*icon color red */
.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #ee6b6e;
}


/*-----------------------------------*/
      /*the button */
    .button {
      background-color: red;
      border: 2px solid red;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
    }

    /*------ Text area CSS---------------------------- */






