<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        form {
            max-width: 500px;
            margin: auto;
            margin-top: 50px;
        }

        .form-control {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/register}" method="post">
    </form>
</div>
</body>
</html>
