body{
  background: url('/assets/img/adminMain.jpg') no-repeat center center fixed;
  justify-content: center;

  display: flex;



  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  flex-direction: column;
  align-items: center;


}
.fontcolor
{
  color: white;
}
div.scroll {
  border: 5px solid #cc57ee;
  height: 500px;
  width: 500px;
  overflow-x: scroll;

}
td, th {
  border: 2px solid black;
  border-collapse: collapse;
}

/*delete button css*/

.DeleteButton{

  background-color: #b02a2a;
  color: #ffffff;

}

.DeleteButton:hover{
  background: #ff3333;
  color: #efeaea;
  box-shadow: 0 0 5px #ff3333,
  0 0 25px #ff3333,
  0 0 50px #ff3333,
  0 0 200px #ffffff;
  -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.33));
}



.DeleteButton:active,.submitButton:active {
  box-shadow: 0px 3px 0px #888;
  transform: translateY(8px);
  transition: all 0.5s;
}
