
<html lang="en" >
<head>
  <title> Psychometric-test</title>
</head>

<body>


<ul>
  <li><a href="#Main_Dashboard">Home</a></li>
  <li><a href="#news" class="active">Psychometric Test</a></li>
  <li><a href="Vacancy">Vacancy</a></li>
  <li><a href="#Community">Community</a></li>
  <li><a href="#Newsfeed">Newsfeed</a></li>
</ul>
<br><br><br>


<div class="fontcolor">


  <div *ngIf="isLoading">
    <!-- Show loading symbol here -->
    <img src="assets/gif/logo.gif" [style.width.px]="400" [style.height.px]="400" />
  </div>

  <div *ngIf="!isLoading && question">

  <div *ngIf="question">
    <h2>{{ question.thequestion }}</h2>
    <form>

      <div *ngFor="let answer of answers">
        <input type="radio" name="answer" [value]="answer.a_id" id="{{ 'answer-' + answer.a_id }} " [(ngModel)]="answerSelected" (change)="selectedAnswer = answer.a_id">
        <label for="{{ 'answer-' + answer.a_id }}">{{ answer.answer }}</label>
      </div>
      <button type="submit" class="NextButton" (click)="onSubmit()" [disabled]="!answerSelected" [ngClass]="{'disabled': !answerSelected}">Next Question</button>



    </form>

  </div>


<div class="num">
  <img src="/assets/img/q7.png" width="100" alt="Number_1_Image" />
</div>

</div>
</div>


</body>
