<body>
<div class="fontcolor">
  <div class="card mt-5" style="align-items: center">
    <h1>Question List</h1>
  </div>

  <div class="mt-5">
    <div class="scroll">
      <div *ngIf="question">
        <h2>Preview Questions</h2>
        <table>
          <thead>
          <tr>
            <th>Question ID</th>
            <th>Question Text</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let q of question">
            <td>{{ q.q_id }}</td>
            <td>{{ q.thequestion }}</td>
            <td>
              <button type="button" class="UpdateButton" (click)="editQuestion(q)">Edit</button>
            </td>
            <td>
              <button type="button" class="DeleteButton" (click)="confirmDelete(q.q_id)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="!question">
        <p>Please log in to view questions.</p>
      </div>
    </div>

    <div *ngIf="editingQuestion">
      <div class="popup">
        <h3>Edit Question</h3>
        <div class="input-field">
          <label>Question</label>
          <input type="text" [(ngModel)]="editingQuestion.thequestion" />
        </div>
        <div class="button-container">
          <button type="button" class="SaveButton" (click)="updateQuestion()">Save</button>
          <button type="button" class="DeleteButton" (click)="cancelEdit()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <span *ngIf="deleteConfirmation">
      <b>Are you sure you want to delete this question?</b>
      <button type="button" class="DeleteButton" (click)="deleteQuestion()">Delete</button>
      <button type="button" class="SaveButton" (click)="deleteConfirmation = false">Cancel</button>
    </span>

</div>
</body>
