
<body>

<div class="fontcolor" xmlns:border="http://www.w3.org/1999/xhtml">
<div class="card mt-5" style="align-items: center">

  <h1>Question List</h1>
</div>


<div class="mt-5">
  <div class="scroll">
  <table class="table table-bordered">
    <thead class="thead">
    <tr>
      <th>Question_ID</th>
      <th>University</th>
      <th>Degree</th>
      <th>The Question</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody class="tbody">
      <tr *ngFor="let question of question">
        <td> {{ question.q_id }}</td>
        <td>{{ question.university }}</td>
        <td>{{ question.degree }}</td>
        <td>{{ question.thequestion }}</td>
        <td><button type="button" >Edit</button></td>
        <td><button type="button" (click)="deleteQuestion(question.q_id)">Delete</button></td>

      </tr>

    </tbody>

  </table>

</div>
</div>
</div>
<br><br><br><br><br><br><br><br>
</body>
