<form (ngSubmit)="onSubmit()">
  <label>
    Admin Name:
    <input type="text" name="adminName" [(ngModel)]="adminName" required>
  </label>
  <br>
  <label>
    Email Address:
    <input type="email" name="emailAddress" [(ngModel)]="emailAddress" required>
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password" [(ngModel)]="password" required>
  </label>
  <br>
  <label>
    Confirm Password:
    <input type="password" name="confirmpassword" [(ngModel)]=" confirmPassword" required>
  </label>
  <br>
  <button type="submit">Register</button>
</form>
