<head>
  <title>Slide Navbar</title>
</head>
<body>

  <h1>U&G Login</h1>
<br>

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>

      <span>or use your account</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">

        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Welcome!</h1>
        <hr style="width:50%;text-align:left;margin-left:3">
        <br>
        <p>New to U&G?</p>
        <br>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<br>
<button (click)="GoHome()" class="button" style="vertical-align:middle" ><span>Back</span></button>


</body>
