<head>
  <title>Forgot Password</title>
</head>
<body>
<div class="formFont">

</div>
<br>

<div class="container" id="container">
  <div class="form-container">
    <form (ngSubmit)="forgotPassword()">
      <h2>Forgot Password</h2>
      <label>
        Email:
        <input type="email" [(ngModel)]="email" name="email" required>
      </label>
      <br>
      <button type="submit">Reset Password</button>

    </form>
  </div>
</div>
<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-right">
      <span class="live-text">{{ typedText }}</span>
      <hr style="width:20%;text-align:left">
      <br><br>
      <img src="assets/gif/mlogo.gif" [style.width.px]="70" [style.height.px]="70" /><br><br>

    </div>
  </div>
</div>







<br>
</body>
